<a href="https://colab.research.google.com/github/MaryamNourii/Knowledge-Tracing_Recommendation-system-/blob/main/RS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
import numpy as np
import pandas as pd
import os
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout, LSTM, Embedding
from tensorflow.keras.utils import to_categorical
from sklearn.model_selection import train_test_split
from tensorflow.keras.preprocessing.sequence import pad_sequences

In [ ]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
cd /content/drive/MyDrive/AI/Recommendation_system/KT1/KT1

/content/drive/MyDrive/AI/Recommendation_system/KT1/KT1

In [ ]:
questions = pd.read_csv("/content/drive/MyDrive/AI/Recommendation_system/questions.csv")
questions

,question_id,bundle_id,explanation_id,correct_answer,part,tags,deployed_at
0,q1,b1,e1,b,1,1;2;179;181,1558093217098
1,q2,b2,e2,a,1,15;2;182,1558093219720
2,q3,b3,e3,b,1,14;2;179;183,1558093222784
3,q4,b4,e4,b,1,9;2;179;184,1558093225357
4,q5,b5,e5,c,1,8;2;179;181,1558093228439
...,...,...,...,...,...,...,...
13164,q18139,b12202,e12202,b,2,24;26;183;182,1571733814684
13165,q18140,b12203,e12203,a,2,24;33;183;182,1571733815331
13166,q18141,b12204,e12204,a,2,24;26;183;182,1571733815951
13167,q18142,b12205,e12205,a,2,24;26;183;182,1571733816585
13168,q18143,b12206,e12206,c,2,27;24;26;183;182,1571733817400

In [ ]:
ques_data = questions[['question_id', 'correct_answer']].copy()
ques_data

      question_id correct_answer
0              q1              b
1              q2              a
2              q3              b
3              q4              b
4              q5              c
...           ...            ...
13164      q18139              b
13165      q18140              a
13166      q18141              a
13167      q18142              a
13168      q18143              c

[13169 rows x 2 columns]

In [ ]:
path=r'/content/drive/MyDrive/AI/Recommendation_system/KT1/KT1'
d=[]
table_list=[]
s=pd.Series(os.listdir(path))
file_selected=s.sample(5000).to_numpy()
for file_name in file_selected:
    data_raw=pd.read_csv(path+'/'+file_name,encoding = "ISO-8859-15")
    data_raw['user_id']=pd.Series([file_name[:-4]]*len(data_raw))
    d.append([file_name[:-4],len(data_raw)])
    data=pd.DataFrame(data_raw,columns=['user_id']+data_raw.columns.to_list()[:-1])
    table_list.append(data)
df=pd.concat(table_list)
pd.set_option('display.max_rows',10)
df=df.reset_index(drop=True)
df

,user_id,timestamp,solving_id,question_id,user_answer,elapsed_time
0,u520858,1551506949787,1,q4637,c,17000
1,u520858,1551506974246,2,q1043,a,21000
2,u520858,1551507011616,3,q4025,d,33000
3,u520858,1551507056432,4,q5267,d,41000
4,u520858,1551507090784,5,q6056,c,30000
...,...,...,...,...,...,...
625204,u525660,1551856701173,4,q5805,a,30000
625205,u525660,1551856719975,5,q297,b,16000
625206,u525660,1551856741513,6,q6382,c,18000
625207,u328586,1542104600114,1,q5020,a,28000
625208,u328586,1542104640088,2,q5244,b,36000

In [ ]:
df.fillna('a',inplace=True)

In [ ]:
new_df = pd.merge(df, ques_data, on='question_id')
new_df

,user_id,timestamp,solving_id,question_id,user_answer,elapsed_time,correct_answer
0,u520858,1551506949787,1,q4637,c,17000,c
1,u620323,1561018029203,1,q4637,c,17000,c
2,u81481,1517909322596,1217,q4637,c,107000,c
3,u17485,1564279788917,298,q4637,c,30000,c
4,u521430,1561204800919,8058,q4637,c,8000,c
...,...,...,...,...,...,...,...
625204,u36001,1504259005805,166,q5140,a,10000,a
625205,u658608,1572499722000,1466,q17775,a,23000,a
625206,u658608,1572499848000,1468,q18128,b,17000,b
625207,u658608,1573447218000,1523,q17898,b,16000,b
625208,u658608,1573879833000,1549,q17954,c,18000,c

In [ ]:
unique_users = new_df['user_id'].unique()
unique_questions = new_df['question_id'].unique()
unique_answers = new_df['correct_answer'].unique()

In [ ]:
unique_answers

array(['c', 'b', 'd', 'a'], dtype=object)

In [ ]:
user2idx = {user: idx for idx, user in enumerate(unique_users)}
question2idx = {question: idx for idx, question in enumerate(unique_questions)}
answers2idx = {answers: idx for idx, answers in enumerate(unique_answers)}

In [ ]:
new_df['user_id'] = new_df['user_id'].apply(lambda x: user2idx[x])
new_df['question_id'] = new_df['question_id'].apply(lambda x: question2idx[x])
new_df['correct_answer'] = new_df['correct_answer'].apply(lambda x: answers2idx[x])
new_df['user_answer'] = new_df['user_answer'].apply(lambda x: answers2idx[x])

In [ ]:
new_df

,user_id,timestamp,solving_id,question_id,user_answer,elapsed_time,correct_answer
0,0,1551506949787,1,0,0,17000,0
1,1,1561018029203,1,0,0,17000,0
2,2,1517909322596,1217,0,0,107000,0
3,3,1564279788917,298,0,0,30000,0
4,4,1561204800919,8058,0,0,8000,0
...,...,...,...,...,...,...,...
625204,867,1504259005805,166,12009,3,10000,3
625205,398,1572499722000,1466,12010,3,23000,3
625206,398,1572499848000,1468,12011,1,17000,1
625207,398,1573447218000,1523,12012,1,16000,1
625208,398,1573879833000,1549,12013,0,18000,0

In [ ]:
train_data, test_data = train_test_split(new_df, test_size=0.2)

In [ ]:
model = Sequential()
model.add(Embedding(len(unique_questions), 64, input_length=100))
model.add(LSTM(64))
model.add(Dropout(0.5))
model.add(Dense(1, activation='sigmoid'))

In [ ]:
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [ ]:
train_sequences = []
train_labels = []
for user, group in train_data.groupby('user_id'):
    questions = group['question_id'].tolist()
    is_correct = group['correct_answer'].tolist()
    train_sequences.append(questions)
    train_labels.append(is_correct)


train_sequences = pad_sequences(train_sequences, maxlen=100, padding='post', value=-1)
# train_labels = pad_sequences(train_labels, maxlen=100, padding='post', value=-1)

In [ ]:
train_labels[1],train_sequences[1]

In [ ]:
model.fit(train_sequences, np.array(train_labels), epochs=10, batch_size=32)

In [ ]:
test_loss, test_acc = model.evaluate(test_sequences, np.array(test_labels))
print('Test accuracy:', test_acc)